

<div class="card mb-3" style="max-width: 740px; padding:100px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="./img/about.png" class="img-fluid rounded-start" alt="about">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Sobre mí</h5>
        <p class="card-text"> Me llamo Reina y soy un carlino que vive en Gran Canaria, tengo 10 años, vivo con mi madre Judit y mi abuela Rosi.
Soy un perro muy cariñoso, me encantan las golosinas (para perros, ya que no me dan otras), y las latitas de carne (no sé si son para perros, pero están buenísimas).
Odio cuando me despiertan pronto y cuando me tienen que llevar al veterinario o darme alguna medicación.</p>
        
      </div>
    </div>
  </div>
</div>