<h1>Algunas de mis fotos</h1>

<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="./img/reinalengua.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Reina Lengua"
    />

    <img
      src="./img/reinaSofa.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Reina Sofa"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="./img/reinacoche.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Reina Coche"
    />

    <img
      src="./img/reinaseria.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Reina seria"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="./img/reinapaseo.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Reina Paseo"
    />

    <img
      src="./img/reinacama.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Reina Cama"
    />
  </div>
</div>