<div class="container">
<h1>Reina Fan Page</h1>
<hr>
<img src="./img/reinaPortada.jpeg" alt="Pug">

<h2>Bienvenido human@ a mi página de fans</h2>
<p>Supongo que habrás llegado hasta a mí, porque no te has podido resistir a mis ojitos saltones. No te culpo, me pasa a menudo!</p>
</div>