<h1>Mis aficiones son:</h1>
<ul>
    <ul class="list-group">
  <li class="list-group-item">Mis aficiones:</li>

  <li class="list-group-item list-group-item-primary">Comer</li>
  <li class="list-group-item list-group-item-secondary">Jugar</li>
  <li class="list-group-item list-group-item-success">Dormir</li>
  <li class="list-group-item list-group-item-danger">Salir de paseo</li>
  <li class="list-group-item list-group-item-warning">Dar besitos a mi madre</li>
 
</ul>